.wrapper {
    width: 100%;
    height: 100vh;
    background: rgb(77,77,217);
    background: linear-gradient(90deg, rgba(77,77,217,1) 35%, rgba(0,212,255,1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    background-color: white;
    border-radius: 5px;
    width: 50rem;
    height: fit-content;
    box-shadow: 0.5px 0.5px 0 0;
}

form :where(input, textarea) {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    outline: none;
    border: 1px solid #999;
}

form .row {
    margin: 2rem;
}

form .row label {
    display: block;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

form .row input {
    font-size: 1.5rem;
}

form .row textarea {
    height: 6rem;
    font-size: 1rem;
    resize: none;
}

form .row button {
    width: 100%;
    height: 3rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4d4dd9;
    transition-duration: 0.2s;
   margin-top: 0.5rem;
}

form .row button:hover {
    background-color: #6464d8;
}