<div class="wrapper">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th class="action" scope="col">
          <button type="button" class="btn btn-primary btn-lg">Add Note</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td class="action">
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td class="action">
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td class="action">
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-warning">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
