<div class="wrapper">
  <div class="add-note-wrapper">
    <div class="header">
      <input type="text" placeholder="Filter" (keyup)="filter($event.target.value)" />
      <button type="button" class="btn btn-primary btn" role="button" (click)="onAddNote()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        Add Note
      </button>
    </div>

    <div class="collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <div class="">
        <form (ngSubmit)="addNote()">
          <div class="row title">
            <label>Title</label>
            <input type="text" [(ngModel)]="title" name="title" />
          </div>
          <div class="row description">
            <label>Description</label>
            <textarea [(ngModel)]="content" name="content"></textarea>
            <button type="submit">Save Note</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" (click)="sortResultsByTitle()" style="cursor: pointer;">Title <i
            [className]="isSortedByAsc ? 'fa fa-angle-up' : 'fa fa-angle-down'" style="font-size:16px"></i></th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of filteredNotes">
        <th scope="row">{{ note.title }}</th>
        <td>{{ note.content }}</td>
        <td class="action">
          <button (click)="deleteNote(note)" type="button" class="btn btn-danger">
            Delete
          </button>
          <button (click)="editNote(note)" type="button" class="btn btn-warning">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>