<div class="wrapper">
  <div class="add-note-wrapper">
    <div class="add-note-btn">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        role="button"
        (click)="onAddNote()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseBasic"
      >
        Add Note
      </button>
    </div>
    <div
      class="collapse"
      id="collapseBasic"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <div class="wrapper">
        <form (ngSubmit)="addNote()">
          <div class="row title">
            <label>Title</label>
            <input type="text" [(ngModel)]="title" name="title" />
          </div>
          <div class="row description">
            <label>Description</label>
            <textarea [(ngModel)]="content" name="content"></textarea>
            <button type="submit">Save Note</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notes">
        <th scope="row">{{ note.title }}</th>
        <td>{{ note.content }}</td>
        <td class="action">
          <button
            (click)="deleteNote(note)"
            type="button"
            class="btn btn-danger"
          >
            Delete
          </button>
          <button
            (click)="editNote(note)"
            type="button"
            class="btn btn-warning"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
